In [1]:
# Working with Missing Data in Pandas
# Missing Data can occur when no information is provided for one or more
# items or for a whole unit. Missing Data is a very big problem in a real-life scenarios.
# Missing Data can also refer to as NA(Not Available) values in pandas.
# In DataFrame sometimes many datasets simply arrive with missing data,
# either because it exists and was not collected or it never existed.
# For Example, Suppose different users being surveyed may choose not to share their income,
# some users may choose not to share the address in this way many datasets went missing.
 
# Dataset 1 : https://raw.githubusercontent.com/yashy1626/ds_dataset/refs/heads/main/ufo.csv
 
# Dataset 2 : https://raw.githubusercontent.com/yashy1626/ds_dataset/refs/heads/main/sample11.csv

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
ufo = pd.read_csv('https://raw.githubusercontent.com/yashy1626/ds_dataset/refs/heads/main/ufo.csv')
ufo.head(10)

                   City Colors Reported Shape Reported State              Time
0                Ithaca             NaN       TRIANGLE    NY    6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ   6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO   2/15/1931 14:00
3               Abilene             NaN           DISK    KS    6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
5           Valley City             NaN           DISK    ND   9/15/1934 15:30
6           Crater Lake             NaN         CIRCLE    CA    6/15/1935 0:00
7                  Alma             NaN           DISK    MI    7/15/1936 0:00
8               Eklutna             NaN          CIGAR    AK  10/15/1936 17:00
9               Hubbard             NaN       CYLINDER    OR    6/15/1937 0:00

In [3]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [4]:
# check for missing values

In [5]:
# Removing missing values
# dropna()

ufo.dropna().shape

(2486, 5)

In [6]:
# fillna()
# Fill Na/NaN values with self entered values

ufo['City'].fillna(value='Unknown City',inplace=True)
ufo['Colors Reported'].fillna(value='Unknown Color',inplace=True)
ufo['Shape Reported'].fillna(value='Unknown Shape',inplace=True)

In [7]:
ufo.head(5)

                   City Colors Reported Shape Reported State             Time
0                Ithaca   Unknown Color       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro   Unknown Color          OTHER    NJ  6/30/1930 20:00
2               Holyoke   Unknown Color           OVAL    CO  2/15/1931 14:00
3               Abilene   Unknown Color           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair   Unknown Color          LIGHT    NY  4/18/1933 19:00

In [8]:
data = pd.read_csv('https://raw.githubusercontent.com/yashy1626/ds_dataset/refs/heads/main/sample11.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          7 non-null      int64
 1   Name        7 non-null      object
 2   Marks       5 non-null      float64
 3   Percentage  3 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 356.0+ bytes

In [9]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype  
---  ------      --------------  -----  
 0   Id          7 non-null      int64  
 1   Name        7 non-null      object 
 2   Marks       5 non-null      float64
 3   Percentage  3 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 356.0+ bytes

SyntaxError: invalid syntax (2780292528.py, line 1)

In [ ]:
data.isnull()

In [ ]:
# fillna()
# backwards fill method    method='bfil'

data['Marks'].fillna(method='bfill',inplace=True)

In [ ]:
# fillna()
# forward fill method  method='ffil'

data['Percentage'].fillna(method='ffill',inplace=True)

In [ ]:
data

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/yashy1626/ds_dataset/refs/heads/main/sample11.csv')